# Web server base url.
SB_BASE_URL="http://localhost:8888"

# The environment. Controls loading of the proper settings.php file.
SB_ENVIRONMENT="development"

# Development mode. Settings tailored to specific tasks (e.g. theming).
SB_DEVELOPMENT_MODE=""

# Drupal admin username.
SB_ADMIN_USER="admin"

# Drupal admin password.
SB_ADMIN_PASS="admin"

# Drush base url.
DRUSH_OPTIONS_URI="$SB_BASE_URL"

# Hash salt required by drupal and used in settings.php.
DRUPAL_HASH_SALT="BANANA"

