{#
/**
* @file
* Default theme implementation for user register or login link.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'mb-4',
    'sm:mb-8',
] %}
<div{{ attributes.addClass(classes) }}>
    <ul class="mt-5 max-w-md sm:flex sm:justify-center md:mt-8 font-sans font-black">
    {% for link in links %}
      <li class="flex-1 mr-2 list-none text-xl">
        {{link}}
      </li>
    {% endfor %}
    </ul>
</div>
