.paragraph--type--hero h1 {
  @apply text-white text-shadow;
}
@screen md {
  .paragraph--type--hero h1 {
    @apply text-hero;
  }
}

.paragraph--type--hero img::after {
  content: '';
  @apply w-full h-full block absolute top-0 left-0 bottom-0 right-0;
  background-color: rgba(0,0,0,0.4);
  mix-blend-mode: multiply;
  z-index: 1;
}

.paragraph--type--hero.modifier-black .field--type-image {
  @apply bg-black bg-opacity-75;
}
.paragraph--type--hero.modifier-black .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-white .field--type-image {
  @apply bg-white bg-opacity-75;
}
.paragraph--type--hero.modifier-white .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-gray .field--type-image {
  @apply bg-gray-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-gray .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-red .field--type-image {
  @apply bg-red-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-red .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-orange .field--type-image {
  @apply bg-orange-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-orange .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-yellow .field--type-image {
  @apply bg-yellow-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-yellow .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-green .field--type-image {
  @apply bg-green-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-green .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-teal .field--type-image {
  @apply bg-teal-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-teal .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-blue .field--type-image {
  @apply bg-blue-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-blue .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-indigo .field--type-image {
  @apply bg-indigo-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-indigo .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-purple .field--type-image {
  @apply bg-purple-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-purple .field--type-image img {
  mix-blend-mode: overlay;
}
.paragraph--type--hero.modifier-pink .field--type-image {
  @apply bg-pink-700 bg-opacity-75;
}
.paragraph--type--hero.modifier-pink .field--type-image img {
  mix-blend-mode: overlay;
}
