@import "./fonts.css";
@import "./tailwind.css";

.debug * {
  border: 1px dashed grey;
}

.container>* {
  @apply mx-4;
}

.site-logo {
  @apply w-12 mr-4;
}

.paragraph ul {
  @apply list-disc list-inside;
}

.paragraph ol {
  @apply list-decimal list-inside;
}

p {
  @apply mb-4;
}

a:hover {
  @apply underline;
}

.prefix-item {
  @apply bg-gray-200 text-gray-600;
  font: inherit;
}
