@import "./fonts.css";
@import "./tailwind.css";

.debug * {
  border: 1px dashed grey;
}

p {
  @apply mb-4;
}

.prefix-wrapper {
  display: flex;
}

.prefix-item {
  background-color: buttonface;
  color: #666;
  font: inherit;
}
